:root {
  --color-background-1--light: white;
  --color-background-2--light: white;
  --color-background-3--light: white;

  --color-background-1--dark: hsl(206deg 38% 18%);
  --color-background-2--dark: hsl(206deg 80% 10%);
  --color-background-3--dark: white;
  --color-text--dark: hsl(210deg 6% 93%);
  --color-subtext--dark: hsl(212deg 11% 74%);
  --color-gradient-1--dark: hsl(206deg 28% 35%);
  --color-gradient-2--dark: hsl(207deg 28% 13%);
  --color-gradient--dark: linear-gradient(45deg, var(--color-gradient-1--dark), var(--color-gradient-2--dark));
  --color-active--dark: hsl(206deg 38% 25%);
  --color-line-1--dark: hsl(205deg 13% 54%);
  --color-line-2--dark: hsl(205deg 13% 35%);

  --color-background-1: var(--color-background-1--dark);
  --color-background-2: var(--color-background-2--dark);
  --color-background-3: var(--color-background-3--dark);
  --color-text: var(--color-text--dark);
  --color-subtext: var(--color-subtext--dark);
  --color-gradient-1: var(--color-gradient-1--dark);
  --color-gradient-2: var(--color-gradient-2--dark);
  --color-gradient: var(--color-gradient--dark);
  --color-active: var(--color-active--dark);
  --color-line-1: var(--color-line-1--dark);
  --color-line-2: var(--color-line-2--dark);
}

// --------------------------------
/* :root {
  --color-base-white: 0, 0%;
  --color-base-black: 240, 100%;
  --color-base-gray: 215, 14%;
  --color-base-blue: 212, 100%;
  --color-base-blue--dark: 212, 72%;
  --color-base-green: 158, 79%;
  --color-base-orange: 22, 100%;
  --color-base-purple: 269, 79%;
  --color-base-red: 351, 100%;
  --color-base-yellow: 41, 100%;

  --color-gray-5: var(--color-base-gray), 5%;
  --color-gray-10: var(--color-base-gray), 10%;
  --color-gray-20: var(--color-base-gray), 20%;
  --color-gray-30: var(--color-base-gray), 30%;
  --color-gray-40: var(--color-base-gray), 40%;
  --color-gray-50: var(--color-base-gray), 50%;
  --color-gray-60: var(--color-base-gray), 60%;
  --color-gray-70: var(--color-base-gray), 70%;
  --color-gray-80: var(--color-base-gray), 80%;
  --color-gray-90: var(--color-base-gray), 90%;
  --color-gray-95: var(--color-base-gray), 95%;

  --color-blue: var(--color-base-blue), 61%;
  --color-blue-dark: var(--color-base-blue-dark), 39%;
  --color-green: var(--color-base-green), 42%;
  --color-orange: var(--color-base-orange), 50%;
  --color-purple: var(--color-base-purple), 54%;
  --color-red: var(--color-base-red), 54%;
  --color-yellow: var(--color-base-yellow), 59%;
}

/*
:root {
  color-scheme: light;
  --theme-accent: hsla(var(--color-blue), 1);
  --theme-text-accent: hsla(var(--color-blue), 1);
  --theme-accent-opacity: 0.15;
  --theme-divider: hsla(var(--color-gray-95), 1);
  --theme-text: hsla(var(--color-gray-10), 1);
  --theme-text-light: hsla(var(--color-gray-40), 1);
} */

html {
  background: var(--color-background-2);
  color: var(--color-text);
}

/* :root[data-theme='dark'] {
  color-scheme: dark;
  --theme-accent-opacity: 0.15;
  --theme-accent: hsla(var(--color-blue), 1);
  --theme-text-accent: hsla(var(--color-blue), 1);
  --theme-divider: hsla(var(--color-gray-10), 1);
  --theme-text: hsla(var(--color-gray-90), 1);
  --theme-text-light: hsla(var(--color-gray-80), 1);
} */

/* ::selection {
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-bg);
} */
