.Content {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

thead {
  text-align: left;
  padding: 0.25rem;
}

td {
  padding: 0.25rem;

  &:not(:last-child) {
    font-family: ui-monospace, 'Courier New', Courier, monospace;
  }
}