---
import Wrapper from './_wrapper.astro';
---

<Wrapper>
  <div>1</div>
  <div>round</div>
</Wrapper>

<style lang='scss'>
  div {
    border-radius: var(--iui-border-radius-1);
    min-width: var(--space-8);
    padding: var(--space-3);
    height: var(--space-8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iui-color-background-1);
    color: var(--iui-color-foreground-2);

    &:nth-child(2) {
      border-radius: var(--iui-border-radius-round);
    }
  }
</style>
