---
type Props = { sizes?: boolean; weights?: boolean };

const { sizes, weights } = Astro.props;

const howMany = sizes ? 6 : 4;
---

<article class:list={[{ sizes: sizes, weights: !sizes && weights }]}>
  {
    Array.from({ length: howMany }).map((_, i) => (
      <p>The quick brown fox jumped over the lazy dog</p>
    ))
  }
</article>

<style lang='scss'>
  article {
    border-radius: var(--space-2);
    border: 1px solid var(--color-line-2);
    display: grid;
    gap: var(--space-3);
    padding: var(--space-3);
  }

  .sizes {
    @for $i from 0 through 5 {
      p:nth-child(#{$i + 1}) {
        font-size: var(--iui-font-size-#{$i});
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .weights {
    @each $i, $weight in (1: light, 2: normal, 3: semibold, 4: bold) {
      p:nth-child(#{$i}) {
        font-weight: var(--iui-font-weight-#{$weight});
      }
    }
  }
</style>
