---
import Wrapper from './_wrapper.astro';
---

<Wrapper>
  {[...Array(6)].map((_, i) => <div style={`--_shadow: var(--iui-shadow-${i})`}>{i}</div>)}
</Wrapper>

<style>
  div {
    width: calc(var(--space-8) * 2);
    height: calc(var(--space-8) * 2);
    border-radius: var(--space-1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iui-color-background-1);
    color: var(--iui-color-foreground-2);
    box-shadow: var(--_shadow);
  }
</style>
