---
// This file should contain all the global styles and markup shared between layouts.

// import HeadSEO from '../components/HeadSEO.astro';
import * as CONFIG from '../config';
import '@fontsource/noto-sans';
import '@fontsource/noto-sans/600.css';

const { content = {} } = Astro.props;
const { pathname } = new URL(Astro.request.url);
---

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='alternate icon' href='/favicon.ico' sizes='any' />
    <link rel='sitemap' href='/sitemap.xml' />

    <!--
      This is intentionally inlined to avoid FOUC
      TODO: investigate if this is possible to remove.
    -->
    <script is:inline>
      const theme = localStorage.getItem('theme');
      if (
        theme === 'dark' ||
        (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.dataset.theme = 'dark';
      } else {
        document.documentElement.dataset.theme = 'light';
      }
    </script>

    <!-- <HeadSEO content={content} /> -->
    <title>
      {content.title ? `${content.title} | ${CONFIG.SITE.title}` : CONFIG.SITE.title}
    </title>

    <!-- Resets -->
    <style is:global lang='scss'>
      * {
        margin: 0;
        box-sizing: border-box;
        line-height: calc(1em + 0.5rem);
      }

      :where(a) {
        color: var(--color-highlight-2);
      }

      :where(p, h1, h2, h3, h4, h5, h6) {
        font-weight: normal;
        padding: 0;
        max-width: 75ch;
      }
    </style>

    <!-- Variables -->
    <style is:global lang='scss'>
      :root {
        // #region Light
        --color-background-1--light: white;
        --color-background-2--light: white;
        --color-background-3--light: white;
        // #endregion

        // #region Dark
        // --color-background-1--dark: hsl(233, 46%, 17%);
        // --color-background-2--dark: hsl(233, 48%, 14%);
        --color-background-1--dark: hsl(221deg 33% 17%);
        --color-background-2--dark: hsl(221deg 47% 11%);
        --color-background-3--dark: white;
        --color-text--dark: hsl(210deg 6% 85%);
        --color-subtext--dark: hsl(221deg 16% 62%);
        --color-gradient-1--dark: hsl(232, 12%, 40%);
        --color-gradient-2--dark: hsl(232, 22%, 25%);
        --color-gradient--dark: linear-gradient(
          135deg,
          var(--color-gradient-1--dark),
          var(--color-gradient-2--dark)
        );
        --color-active--dark: hsl(221deg 12% 27% / 40%);
        --color-line-1--dark: hsl(205deg 13% 54%);
        --color-line-2--dark: hsl(205deg 13% 35%);
        // #endregion

        // #region Current
        --color-highlight-1: hsl(314, 57%, 88%);
        --color-highlight-2: hsl(232, 78%, 82%);
        --color-highlight-3: hsl(186, 78%, 79%);
        --color-highlight-gradient-1: linear-gradient(
          135deg,
          var(--color-highlight-1),
          var(--color-highlight-2)
        );
        --color-highlight-gradient-2: linear-gradient(
          135deg,
          var(--color-highlight-2),
          var(--color-highlight-3)
        );
        --color-highlight-gradient-3: linear-gradient(
          135deg,
          var(--color-highlight-3),
          var(--color-highlight-1)
        );
        --color-background-1: var(--color-background-1--dark);
        --color-background-2: var(--color-background-2--dark);
        --color-background-3: var(--color-background-3--dark);
        --color-text: var(--color-text--dark);
        --color-subtext: var(--color-subtext--dark);
        --color-gradient-1: var(--color-gradient-1--dark);
        --color-gradient-2: var(--color-gradient-2--dark);
        --color-gradient: var(--color-gradient--dark);
        --color-highlight-gradient: var(--color-highlight-gradient-1);
        --color-active: var(--color-active--dark);
        --color-line-1: var(--color-line-1--dark);
        --color-line-2: var(--color-line-2--dark);
        // #endregion

        --font-body: 'Noto Sans', system-ui, sans-serif;
        --font-mono: ui-monospace, monospace;

        /* TODO: rename these? ⬇️  */

        // #region Typography: https://utopia.fyi/type/calculator/?c=300,14,1.125,2100,18,1.2,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
        --type--3: clamp(0.61rem, 0.61rem + 0.03vw, 0.65rem);
        --type--2: clamp(0.69rem, 0.68rem + 0.08vw, 0.78rem);
        --type--1: clamp(0.78rem, 0.75rem + 0.14vw, 0.94rem);
        --type-0: clamp(0.88rem, 0.83rem + 0.22vw, 1.13rem);
        --type-1: clamp(0.98rem, 0.92rem + 0.33vw, 1.35rem);
        --type-2: clamp(1.11rem, 1.02rem + 0.46vw, 1.62rem);
        --type-3: clamp(1.25rem, 1.13rem + 0.62vw, 1.94rem);
        --type-4: clamp(1.4rem, 1.25rem + 0.83vw, 2.33rem);
        // #endregion

        // #region Spacing: https://utopia.fyi/space/calculator/?c=300,14,1.2,2100,18,1.25,5,2,&s=0.75|0.5|0.25|0.125,1.25|1.5|2|2.25,s-l
        --space-0: clamp(0.13rem, 0.13rem + 0vw, 0.13rem);
        --space-1: clamp(0.25rem, 0.24rem + 0.06vw, 0.31rem);
        --space-2: clamp(0.44rem, 0.42rem + 0.11vw, 0.56rem);
        --space-3: clamp(0.69rem, 0.66rem + 0.17vw, 0.88rem);
        --space-4: clamp(0.88rem, 0.83rem + 0.22vw, 1.13rem);
        --space-5: clamp(1.13rem, 1.07rem + 0.28vw, 1.44rem);
        --space-6: clamp(1.31rem, 1.25rem + 0.33vw, 1.69rem);
        --space-7: clamp(1.75rem, 1.67rem + 0.44vw, 2.25rem);
        --space-8: clamp(2rem, 1.91rem + 0.5vw, 2.56rem);
        // #endregion

        --border-radius-1: var(--space-1);
      }
    </style>

    <!-- Page layout, etc -->
    <style lang='scss'>
      html {
        background-color: var(--color-background-2);
        color: var(--color-text);
        color-scheme: dark light;
        height: 100%;
        overflow: auto;

        &[data-theme='light'] {
          color-scheme: light;
        }

        &[data-theme='dark'] {
          color-scheme: dark;
        }
      }

      body {
        height: 100%;
        overflow: auto;
        font-family: var(--font-body);
        font-size: var(--type-0);
      }
    </style>
  </head>

  <body>
    <slot />

    <!--
      Scrollable a11y code helper.
      TODO: remove the need for this script by creating a CodeBlock component.
    -->
    <script src='/make-scrollable-code-focusable.js' is:inline>

    </script>
  </body>
</html>
