---
import Global from '../layouts/Global.astro';
import Header from '../components/Header.astro';

const currentPage = new URL(Astro.request.url).pathname;
---

<Global currentPage={currentPage}>
  <Header class='header' />
  <main>
    <div />
  </main>

  <style>
    body {
      display: grid;
      grid-template: 'header' auto 'main' 1fr / 100%;
    }

    .header {
      grid-area: header;
    }

    main {
      grid-area: main;
      display: grid;
    }
  </style>
</Global>
