---
import Global from '../layouts/Global.astro';
import Header from '../components/Header.astro';

const currentPage = new URL(Astro.request.url).pathname;
---

<Global currentPage={currentPage}>
  <div class="background-wrapper">
    <div class='background' />
  </div>

  <Header class='header' />
  <main>
    <div class='title-box'>
      <h1>For a <span class="highlight-text">Unified</span> experience</h1>
      <h4 class="subheading">By documenting and assembling a reference site of iTwin components and patterns, we were
        able to speed up
        our
        process and solve some internal communication problems.</h4>
      <div class='button-area'>
        <a class='main-button' href="/docs/introduction">
          Documentation
        </a>
        <a class='secondary-button' href="/docs/introduction">
          Get started
        </a>
      </div>
    </div>
    <div class="code-blocks">
      <div class='code-sample code-sample-1'>
      </div>
      <div class='code-sample code-sample-2'>
      </div>
      <div class='code-sample code-sample-3'></div>
      <div class='code-sample code-sample-1'></div>
      <div class='code-sample code-sample-2'></div>
    </div>
    <div class='centered-content'>
      <h1 class='highlight-text'>Why iTwinUI?</h1>
      <div class='column-content'>
        <div class="text-with-icon">
          <div class='consistent-icon' />
          <div>
            <h3 class='colored-text'>Consistent</h3>

            <p>Our components and layouts library was designed specifically for apps within the
              iTwin
              space. It allows creating seamless front-end environments consistent with the iTwin experience.</p>
          </div>
        </div>
        <div class="text-with-icon">
          <div class='accessible-icon' />
          <div>
            <h3 class='colored-text'>Accessible</h3>

            <p>The web is for everyone. All our components were designed with accessibility in mind
              for an inclusive,
              comfortable experience that leaves no one behind. </p>
          </div>
        </div>
        <div class="text-with-icon">
          <div class='no-fuss-icon' />
          <div>
            <h3 class='colored-text'>No fuss</h3>

            <p>Skip the brainstorming sessions. Our components and layouts are entirely
              ready-to-use,
              so you can
              focus
              on
              getting things done. </p>
          </div>
        </div>
        <div class="text-with-icon">
          <div class='evolving-icon' />
          <div>
            <h3 class='colored-text'>Evolving</h3>

            <p>iTwin UI is maintained daily and frequently updated by its supporting team, so you
              always have access
              to
              the latest version of our assets. </p>
          </div>
        </div>
      </div>
    </div>
    <div class='centered-content'>
      <h1 class='highlight-text'>Our library</h1>
      <div class='library-list'>
        <a class='library-item' href="/docs/introduction">
          <div>
            <h3>Components
            </h3>
            <p>See our extensive library of pre-coded components.
              You can view live demos of how they behave in their
              environment to determine if they are the right fit.</p>
          </div>
        </a>
        <a class='library-item' href="https://itwin.github.io/iTwinUI-layouts/" target="_blank">
          <div>
            <h3>Layouts</h3>
            <p>Full-page layouts built for maximizing your efficiency
              when you need it the most.</p>
          </div>
        </a>
        <a class='library-item' href="https://itwin.github.io/iTwinUI-icons/" target="_blank">
          <div>
            <h3>Icons</h3>
            <p>Hundreds of flexible, flat-styled icons in SVG format,
              allowing for infinite scalability with zero quality loss.</p>
          </div>
        </a>
      </div>
    </div>
    <div class='centered-content'>
      <h1 class='highlight-text'>Join us</h1>
    </div>
  </main>

  <style>
    body {
      display: grid;
      grid-template: 'header' auto 'main' 1fr / 100%;
    }

    a {
      text-decoration: none;
      color: unset;
    }

    .background-wrapper {
      z-index: -1;
      position: absolute;
      height: 80vw;
      width: 100%;
    }

    .background {
      margin-top: -20%;
      width: 100%;
      height: 100%;
      background: url('backgroundImage.svg') no-repeat center;
      object-fit: cover;
    }

    .header {
      grid-area: header;
    }

    .code-blocks {
      max-width: 1000px;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 22px;
      margin: 126px 0;
    }

    .code-sample {
      padding: 126p;
      min-width: 300px;
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.75;
    }

    .code-sample-1 {
      background: var(--color-highlight-gradient);
    }

    .code-sample-2 {
      background: var(--color-highlight-gradient-2);
    }

    .code-sample-3 {
      background: var(--color-highlight-gradient-3);
    }

    .colored-text {
      color: var(--color-highlight-1);
    }

    .title-box {
      margin-top: 128px;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 580px;
    }

    .button-area {
      display: flex;
      gap: 22px;
    }

    .main-button {
      padding: 8px 12px;
      border-radius: 4px;
      text-decoration: none;
      background: var(--color-highlight-gradient);
      color: var(--color-background-1);
    }

    .secondary-button {
      padding: 8px 12px;
      border-radius: 4px;
      text-decoration: none;
      background: transparent;
      color: var(--color-text);
      border: 1px solid var(--color-text);
    }

    .main-button:hover,
    .secondary-button:hover,
    .library-item:hover {
      box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
    }

    .highlight-text {
      background: var(--color-highlight-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .glow {
      box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
    }

    .centered-content {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      margin: 126px 0;
    }

    .column-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 66px;

      @media (max-width: 50em) {
        grid-template-columns: 1fr;
      }
    }

    .text-with-icon {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 22px;
      align-items: center;
    }

    .library-list {
      display: flex;
      gap: 32px;
    }

    .library-item {
      width: 414px;
      height: 222px;
      padding: 32px;
      text-align: start;
      border: 1px solid var(--color-text);
      border-radius: 4px;
    }

    .subheading {
      padding-bottom: 64px;
    }

    p {
      font-size: var(--type-0);
    }

    h4 {
      font-size: var(--type-1);
      text-align: center;
      padding-bottom: 18px;
    }

    h3 {
      font-size: var(--type-2);
      text-align: left;
      padding-bottom: 22px;
    }

    h2 {
      font-size: var(--type-3);
      padding-bottom: 32px;
    }

    h1 {
      font-size: var(--type-4);
      padding-bottom: 64px;
    }

    main {
      grid-area: main;
      display: grid;
      padding: 33px;
    }

    main>* {
      max-width: 1200px;
    }

    .accessible-icon {
      background-color: var(--color-highlight-1);
      mask: url('homePageIcons/accessibleIcon.svg') no-repeat center;
      height: 96px;
    }

    .consistent-icon {
      background-color: var(--color-highlight-1);
      mask: url('homePageIcons/consistentIcon.svg') no-repeat center;
      height: 96px;
    }

    .evolving-icon {
      background-color: var(--color-highlight-1);
      mask: url('homePageIcons/evolvingIcon.svg') no-repeat center;
      height: 96px;
    }

    .no-fuss-icon {
      background-color: var(--color-highlight-1);
      mask: url('homePageIcons/noFussIcon.svg') no-repeat center;
      height: 96px;
    }
  </style>
</Global>
