---
import Global from './Global.astro';
import Header from '../components/Header.astro';
import PageContent from '../components/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar.astro';

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;

---

<Global content={content} currentPage={currentPage}>
  <Header class='header' />
  <aside class='sidebar'>
    <LeftSidebar currentPage={currentPage} />
  </aside>
  <main>
    <PageContent content={content}>
      <slot />
    </PageContent>
  </main>

  <style>
    body {
      display: grid;
      grid-template: 'header header' auto 'sidebar main' 1fr / auto 1fr;

      &.mobile-sidebar-toggle {
        grid-template: 'header' auto 'sidebar' 1fr / 100%;
      }
    }

    .header {
      grid-area: header;
    }

    .sidebar {
      grid-area: sidebar;
      overflow-y: auto;
      overflow-y: overlay;
      border-right: 1px solid var(--color-line-2);

      @media (max-width: 50em) {
        display: none;
      }

      @nest :global(.mobile-sidebar-toggle) & {
        display: block;
      }
    }

    main {
      grid-area: main;
      overflow: auto;
      overflow: overlay;
      scrollbar-gutter: stable;
      display: grid;
      justify-items: center;
    }
  </style>
</Global>
