.theme-toggle {
  all: unset;
  display: inline-grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.theme-toggle:hover {
  background: hsl(0 0% 50% / 0.2);
}

.theme-toggle > svg {
  width: 1.5rem;
  height: 1.5rem;
}
