---
import * as React from 'react';
import CopyIcon from '~/icons/CopyIcon.astro';
import StatusSuccessIcon from '~/icons/StatusSuccessIcon.astro';

function changeIcon(anchor) {
  console.log('hakjsldjkasd');
  var icon = anchor.querySelector('i');
  icon.classList.toggle('fa-plus');
  icon.classList.toggle('fa-minus');

  anchor.querySelector('span').textContent = icon.classList.contains('fa-plus')
    ? 'Read more'
    : 'Read less';
}
---

<!-- Missing functionality -->
<button class='secondary-button'
  ><p class='iui-body'>npm install @itwin/itwinui-react</p>
  <CopyIcon />
</button>

<style lang='scss'>
  .secondary-button {
    border: none;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--border-radius-1);
    text-decoration: none;
    background: transparent;
    box-shadow: 0 0 1px var(--color-highlight-1), 0 0 10px var(--color-highlight-2);
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
  }
  .secondary-button .iui-body {
    color: var(--color-text);
    background-color: transparent;
  }
  .secondary-button svg {
    width: 16px;
    height: 16px;
    fill: var(--color-subtext);
  }

  .secondary-button:hover {
    box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
  }
  .secondary-button:hover svg {
    fill: var(--color-text);
  }
</style>
