---
import * as CONFIG from '../config';
import SkipLink from './utils/SkipLink.astro';
import SidebarToggle from './SidebarToggle';
import VisuallyHidden from './utils/VisuallyHidden.astro';

export type Props = { class?: string };
---

<header class={Astro.props.class}>
  <SkipLink />

  <!-- TODO: improve this mobile navbar -->
  <div class='menu-toggle'>
    <SidebarToggle client:idle />
  </div>

  <a href='/' class='logo'>
    <VisuallyHidden>iTwinUI home</VisuallyHidden>
    <svg
      width='133.6'
      height='32'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 133.60001 32'
      fill='currentColor'
    >
      <path
        d='M129.40002,4.79999h-20.40002c-2.29999,0-4.20001,1.79999-4.20001,4.10004v14.19995c0,2.30005,1.90002,4.10004,4.20001,4.10004h20.40002c2.29999,0,4.19995-1.79999,4.19995-4.10004V8.90002c0-2.30005-1.89996-4.10004-4.19995-4.10004Zm-8,13.10004c0,2.89996-2.10004,4.89996-5.5,4.89996s-5.5-2-5.5-4.89996v-7.5c0-.70001,.5-1.20001,1.19995-1.20001,.70001,0,1.20001,.5,1.20001,1.20001v7.29999c0,1.70001,1.40002,3.09998,3.10004,3.09998s3.09998-1.39996,3.09998-3.09998v-7.29999c0-.70001,.5-1.20001,1.20001-1.20001s1.20001,.5,1.20001,1.20001v7.5Zm6.5,3.69995c0,.70001-.5,1.20001-1.20001,1.20001s-1.20001-.5-1.20001-1.20001V10.40002c0-.70001,.5-1.20001,1.20001-1.20001s1.20001,.5,1.20001,1.20001v11.19995ZM42,7.5c0,1-.79999,1.79999-1.79999,1.79999-.5,0-.90002-.20001-1.29999-.5-.30005-.39996-.5-.79999-.5-1.29999,0-1,.79999-1.79999,1.79999-1.79999s1.79999,.79999,1.79999,1.79999Zm-3.5,4h3.29999v14.20001h-3.29999V11.5Zm19.90002-2.29999h-5.80005V25.59998h-3.39996V9.20001h-5.79999v-2.90002h15v2.90002Zm16.29999,2.29999h3.29999l-3.90002,14.20001h-3.5l-2.79999-10.40002h-.09998l-2.79999,10.40002h-3.5l-3.90002-14.20001h3.40002l2.39996,10.90002h.10004l2.79999-10.90002h3.20001l2.79999,10.90002h.09998l2.40002-10.90002Zm8.40002-4c0,1-.80005,1.79999-1.80005,1.79999-.5,0-.89996-.20001-1.29999-.5-.29999-.39996-.5-.79999-.5-1.29999,0-1,.79999-1.79999,1.79999-1.79999s1.80005,.79999,1.80005,1.79999Zm-3.50006,4h3.40002v14.20001h-3.29999l-.10004-14.20001Zm18.90002,5v9.20001h-3.29999v-8.5c0-2-.90002-3.10004-2.79999-3.10004-1.70001,0-3.10004,1.30005-3.20001,3v8.60004h-3.29999l-.10004-14.20001h3.20001v2.40002h.09998c.80005-1.80005,2.60004-2.80005,4.5-2.70001,3.10004,0,4.90002,2,4.90002,5.29999ZM28.26001,9.41998v13.44c0,.96002-.52002,1.85999-1.35999,2.35004l-10.82001,6.38c-.37,.20996-.78003,.31995-1.17999,.31995-.40002,0-.80005-.10999-1.16003-.31995-.72998-.43005-1.15997-1.19-1.15997-2.05005v-10.85999c0-.08002-.04999-.16998-.13-.21997l-1.84003-1.08002c-.73999-.45001-.97998-1.41003-.53998-2.15002,.27002-.46997,.77997-.76996,1.33002-.76996,.27997,0,.56,.07996,.79999,.21997l2.14996,1.29999c.82001,.48999,1.33002,1.38,1.33002,2.34003v9.89001l9.37-5.55005c.08002-.03998,.12-.12,.12-.20996l-.01996-12.66998c0-.09003-.05005-.17004-.12-.22003L14.22998,3.26001c-.03998-.03003-.08997-.04004-.13-.04004-.04999,0-.09998,.01001-.13,.04004L3.20001,9.59998c-.08002,.05005-.12,.13-.12,.21002l.01996,12.69c0,.08002,.05005,.15997,.12,.21002l6.94,4.07001c.74005,.43994,.99005,1.39996,.57001,2.14996-.27997,.47998-.78998,.78998-1.34998,.78998-.20001,0-.40002-.03998-.58002-.12h-.01001L1.37,25.22998c-.29999-.17999-.54999-.39996-.76001-.66998-.39001-.47998-.60999-1.09003-.60999-1.72998V9.44c0-.97998,.53003-1.90002,1.38-2.40002L12.77002,.35999c.41998-.23999,.88995-.37,1.35999-.37,.46997,0,.94,.13,1.34998,.37l11.42004,6.69c.83997,.5,1.35999,1.40002,1.35999,2.37Zm-16.17438,1.38666c0-1.1369,.9151-2.06152,2.04004-2.06152,1.12439,0,2.03949,.92462,2.03949,2.06152,0,1.13641-.9151,2.0611-2.03949,2.0611-1.12494,0-2.04004-.92468-2.04004-2.0611Z'
      ></path>
    </svg>
  </a>

  <nav aria-label='Global site'>
    <a href='/docs/introduction'>Documentation</a>
    <a href='https://www.github.com/iTwin/iTwinUI-react' class='github-link'>
      <VisuallyHidden>GitHub</VisuallyHidden>
      <svg width='32' height='32' viewBox='0 0 24 24' fill='currentColor'
        ><path
          d='M12.026 2a9.975 9.975 0 0 0-3.153 19.439c.5.09.679-.217.679-.481c0-.237-.008-.865-.011-1.7c-2.775.6-3.361-1.338-3.361-1.338a2.635 2.635 0 0 0-1.107-1.459c-.9-.619.069-.605.069-.605c.64.088 1.205.467 1.527 1.028a2.124 2.124 0 0 0 2.9.829c.046-.506.272-.979.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93a3.865 3.865 0 0 1 1.026-2.671a3.588 3.588 0 0 1 .1-2.64s.837-.269 2.742 1.021a9.439 9.439 0 0 1 4.992 0c1.906-1.291 2.742-1.021 2.742-1.021c.37.835.405 1.78.1 2.64a3.84 3.84 0 0 1 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.48.49.725 1.162.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479A9.975 9.975 0 0 0 12.026 2Z'
        ></path>
      </svg>
    </a>
  </nav>
</header>

<style lang='scss'>
  header {
    z-index: 11;
    width: 100%;
    height: calc(5 * var(--space-3));
    padding: 0 var(--space-3);
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--color-line-2);
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: var(--type-3);
    flex-shrink: 0;
    gap: 0.25em;
    margin-right: auto;
    text-decoration: none;
    color: var(--color-text);
    outline-offset: -1px;
  }

  nav {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    margin-left: auto;
  }

  a {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-1);
    padding: var(--space-2) var(--space-3);
    color: var(--color-text);
    text-decoration: none;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      background-color: var(--color-active);
    }
  }

  .github-link {
    display: flex;
    border-radius: 9e9px;
    padding: var(--space-2);

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

  @media (min-width: 50em) {
    .menu-toggle {
      display: none;
    }
  }
</style>
