---
import * as CONFIG from '../config';
import SkipLink from './utils/SkipLink.astro';
import SidebarToggle from './SidebarToggle';
import ThemeToggleButton from './ThemeToggleButton.astro';
import VisuallyHidden from './utils/VisuallyHidden.astro';

export type Props = { class?: string; }

---

<header class={Astro.props.class}>
  <SkipLink />

  <!-- TODO: improve this mobile navbar -->
  <div class='menu-toggle'>
    <SidebarToggle client:idle />
  </div>

  <h1>
    <a href='/' class='logo'>
      <VisuallyHidden>iTwinUI home</VisuallyHidden>
      <svg width="133.6" height="32" viewBox="0 0 133.6 32" aria-hidden="true">
        <path fill-rule="evenodd"
          d="M129.411,4.8H108.989a4.155,4.155,0,0,0-4.189,4.12V23.077a4.155,4.155,0,0,0,4.189,4.12h20.422a4.155,4.155,0,0,0,4.189-4.12V8.916a4.155,4.155,0,0,0-4.189-4.12ZM121.43,17.889c0,2.9-2.089,4.907-5.459,4.907s-5.459-2.007-5.459-4.907v-7.5h0v-.006a1.184,1.184,0,1,1,2.368,0v.006h.007v7.291a3.089,3.089,0,1,0,6.178,0V10.411c0-.008,0-.016,0-.024a1.184,1.184,0,1,1,2.368,0Zm6.454,3.723a1.184,1.184,0,1,1-2.368,0h0l0-11.226h.006a1.184,1.184,0,1,1,2.368,0l0,11.226ZM38.361,7.493A1.816,1.816,0,1,1,38.9,8.778,1.832,1.832,0,0,1,38.361,7.493Zm.174,3.96h3.342V25.681H38.536ZM49.167,25.681V9.238h-5.8V6.312H58.4V9.238H52.616V25.681Zm24.886,0H70.536l-2.805-10.4h-.067l-2.792,10.4h-3.49L57.529,11.453h3.356l2.4,10.926h.067l2.779-10.926h3.208L72.12,22.379H72.2l2.4-10.926h3.3ZM79.475,7.493a1.816,1.816,0,1,1,.537,1.285,1.832,1.832,0,0,1-.537-1.285Zm.174,3.96h3.342V25.681H79.65Zm6.148,0h3.208V13.9h.067a4.573,4.573,0,0,1,4.47-2.711c3.141,0,4.926,2.013,4.926,5.3v9.195H95.126V17.158c0-2.013-.94-3.141-2.846-3.141A3.1,3.1,0,0,0,89.14,17.44v8.242H85.8ZM14,2a2.008,2.008,0,0,1,1.028.277L25.049,8.234A1.9,1.9,0,0,1,26,9.874v12.2a2.008,2.008,0,0,1-.973,1.7l-10,5.949a2.047,2.047,0,0,1-2.055,0L3,23.79a2.064,2.064,0,0,1-1-1.72V9.924a2.008,2.008,0,0,1,.972-1.7l10-5.949A2.008,2.008,0,0,1,14,2m0-2a4.013,4.013,0,0,0-2.05.558L1.95,6.5A3.988,3.988,0,0,0,0,9.924V22.069a4.05,4.05,0,0,0,1.95,3.42l10,5.949a4.046,4.046,0,0,0,4.1,0l10-5.949A3.988,3.988,0,0,0,28,22.069V9.874A3.907,3.907,0,0,0,26.05,6.5L16.05.554A4.012,4.012,0,0,0,14,0Zm0,6.5a2.125,2.125,0,1,1-2.125,2.125h0A2.125,2.125,0,0,1,14,6.5Zm6,18.38a.5.5,0,0,1-.244.43l-5.45,3.246a.5.5,0,0,1-.51,0l-5.55-3.277A.5.5,0,0,1,8,24.844V21.963a.5.5,0,0,1,.756-.43L12,23.33V16.469l-1.756-1.119a.5.5,0,0,1-.244-.43V12.029a.5.5,0,0,1,.757-.429l5,2.766A.5.5,0,0,1,16,14.8V23.33l3.244-1.8a.5.5,0,0,1,.756.43Z"
          transform="translate(0 0.003)"></path>
      </svg>
    </a>
  </h1>

  <nav aria-label='Global site'>
    <a href='/docs/introduction'>Documentation</a>
  </nav>

  <ThemeToggleButton />
</header>

<style>
  header {
    z-index: 11;
    width: 100%;
    height: calc(5 * var(--space-3));
    padding: 0 var(--space-5);
    //background-color: var(--color-background-2);
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--color-line-2);
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: var(--type-3);
    flex-shrink: 0;
    gap: 0.25em;
    margin-right: auto;
    text-decoration: none;
    color: var(--color-text);
    outline-offset: -1px;

    & path {
      fill: currentColor;
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;

    & a {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;
      padding: 0 var(--space-2);
      color: var(--color-text);
      text-decoration: none;

      &:hover {
        background-color: var(--color-active);
      }
    }
  }

  @media (min-width: 50em) {
    .menu-toggle {
      display: none;
    }
  }
</style>
