---
const { content } = Astro.props;
const title = content.title;
const headers = content.astro.headers;
---

<article id='article' class='content'>
  <section class='main-section'>
    <h1 class='content-title' id='overview'>{title}</h1>
    <!-- TODO: Add table of contents here -->
    <slot></slot>
  </section>
</article>

<style>
  .content {
    --max-width: min(100%, 1200px);
    max-width: var(--max-width);
    padding: 0;
    /* max-width: 75ch; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-title {
    font-size: var(--type-4);
  }

  .content>section {
    margin-bottom: var(--space-6);
  }

  .block {
    display: block;
  }

  .main-section {
    display: grid;
    gap: 1rem;

    &> :global(:is(h1, h2, h3, h4):not(:first-child)) {
      margin-top: 1rem;
    }
  }
</style>
