.theme-toggle {
  all: unset;
  display: inline-grid;
  place-items: center;
  width: var(--space-7);
  height: var(--space-7);
  cursor: pointer;
  border-radius: 50%;
}

.theme-toggle:hover {
  background: hsl(0 0% 50% / 0.2);
}

.theme-toggle > svg {
  width: var(--space-5);
  height: var(--space-5);
}
