/* TODO: Is it okay to add this file? */

.App .title {
  margin-bottom: 20px;
}

.App .slider-container-horizontal {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.App .slider-container-vertical {
  height: 500px;
  width: fit-content;

  display: flex;
  justify-content: space-evenly;
  gap: 7rem;
  flex-wrap: wrap;
}
