.App .title {
  margin-bottom: 20px;
}

/* #demo-default {
  display: flex;
  
} */

.App .slider-container {
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 3rem;
}

.App .slider-container-vertical {
  height: 500px;
  width: fit-content;

  display: flex;
  justify-content: space-evenly;
  gap: 7rem;
  flex-wrap: wrap;
}
