.LineChange {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .header {
    display: flex;
    align-items: center;

    .status-icon {
      transition: 200ms;

      &-success {
        fill: green;
      }

      &-error {
        fill: orange;
      }
    }

    .status-icon {
      width: 16px;
      height: 16px;
    }

    .line-number {
      margin-left: 10px;
      font-weight: bold;
    }

    .description {
      margin-left: 8px;
    }
  }

  .code {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .code-remove,
    .code-add {
      font-weight: normal;
      border-radius: 4px;
    }

    .code-remove {
      background-color: rgba(255, 0, 0, 0.253);
    }

    .code-add {
      background-color: rgba(0, 255, 0, 0.253);
    }
  }
}
