---
export type Props = { unhide?: boolean; }

const { unhide = false } = Astro.props;
---

<span class:list={['visually-hidden', { 'not-visually-hidden' : unhide }]}>
  <slot />
</span>

<style>
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
  }

  .visually-hidden:focus,
  .visually-hidden:focus-within,
  .not-visually-hidden {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip-path: revert;
    white-space: normal;
    border-width: revert;
  }
</style>
